alembic==1.11.1
beautifulsoup4==4.12.2
fastapi==0.100.0
lxml==4.9.3
numpy==1.24.3
openai==0.27.8
passlib==1.7.4
pydantic==2.0.2
python_jose==3.3.0
Requests==2.31.0
sentence_transformers==2.2.2
SQLAlchemy==2.0.18
starlette==0.28.0
uvicorn==0.22.0
python-mulipart
pydantic[email]
